# Make image openstack ready
/bin/sed -i '/^HWADDR/d' /etc/sysconfig/network-scripts/ifcfg-eth0
/bin/sed -i '/^nameserver.*$/d' /etc/resolv.conf
/bin/echo -n > /etc/udev/rules.d/70-persistent-net.rules
/bin/echo -n > /lib/udev/rules.d/75-persistent-net-generator.rules

# Remove cloud-init instances and root so it can be used on next customization
rm -rf /var/lib/cloud/instance
rm -rf /var/lib/cloud/instances
#sed -i -e 's/^root:[^:]*/root:!!/' /etc/shadow

# TORF-178106: ability to reset VM root password to ATT preferred value
passwd -l root

# Technical debt - update the cloud.cfg to bring nfs mounts up before package-install
# Remove existing mount module
/bin/sed -i '/ - mounts/d' /etc/cloud/cloud.cfg
# Add back in now as first module ran in cloud_config
/bin/sed -i '/cloud_config_modules:/a \ - mounts' /etc/cloud/cloud.cfg
#cleanup logs for JIRA TORF-68970
/bin/cp -f /dev/null /var/log/messages
/bin/cp -f /dev/null /var/log/cron

#TORF-424639 rhel76jboss image tuning
echo 'vm.overcommit_memory = 2' >> /etc/sysctl.conf
echo 'vm.overcommit_ratio = 100' >> /etc/sysctl.conf
sed -i '/vm.swappiness/ s/=.*/= 0/' /etc/sysctl.conf
sed -i '/vm.min_free_kbytes/ s/=.*/= 131072/' /etc/sysctl.conf
sysctl -p